@use "styles/globals";

#body {
  font-family: globals.$font;
}
body {
  background-color: globals.$veryLightGray;
  box-sizing: border-box;
  font-size: 62.5%;
  margin: 20px 15px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.create-comment,
.comments-container {
  background-color: globals.$white;
}

// Styles for the component of the send comment
.create-comment {
  border-radius: 5px;
  height: 160px;
  display: flex;
  flex-direction: column;

  margin-top: 20px;
  width: 100%;

  .create-comment__extrasContainer,
  input {
    width: 99%;
    display: flex;
    align-items: start;
    align-self: top;
  }

  .create-comment__textArea {
    height: 60%;
    border-radius: 5px;
    font-size: 1rem;
    text-align: justify;
    border: 0;
    padding: 0;
    border: 1px solid globals.$input;
    outline: none;
    resize: none;
    font-family: globals.$font;
    padding: 8px 15px;
  }

  .notVisible {
    display: none;
  }

  .create-comment__input::placeholder {
    font-family: globals.$font;
  }

  .create-comment__extrasContainer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 40%;
    .create-comment__img-Container {
      background-image: url("https://res.cloudinary.com/dwdz4mn27/image/upload/v1677521531/interactive-comments-section-main/images/avatars/image-juliusomo_fatg2m.webp");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin: 0;
    }
    .interactionButton {
      background-color: globals.$moderateBlue;
      font-weight: 700;
      color: globals.$white;
      border: none;
      height: 45px;
      width: 100px;
      border-radius: 5px;
      font-size: 1rem;
      cursor: pointer;
    }
  }
}

// Styles for the comment component
.commentContainer {
  padding: 12px;
  height: auto;
  border-radius: 5px;
  background-color: globals.$white;
  margin-bottom: 20px;
  .commentContainer__info {
    .commentContainer__info__name {
      display: flex;
      justify-content: left;
      align-items: center;

      figure {
        width: 50px;
        height: 50px;
        background-image: url("https://res.cloudinary.com/dwdz4mn27/image/upload/v1677521532/interactive-comments-section-main/images/avatars/image-amyrobson_busbm4.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0;
      }
      h2 {
        font-size: 1rem;
        font-weight: 500;
      }

      p {
        color: globals.$grayishBlue;
        font-weight: 500;
        font-size: 0.8rem;
      }

      h2,
      p {
        margin-left: 12px;
      }
    }
  }

  .commentContainer__comment {
    p {
      font-size: 1rem;
      color: globals.$grayishBlue;
      font-weight: 400;
      line-height: 25px;
    }

    .commentContainer__comment__modify {
      display: flex;
      justify-content: space-between;
      .commentContainer__comment__modify__votes {
        h1 {
          color: globals.$moderateBlue;
          font-size: 1rem;
        }
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100px;
        height: 40px;
        background-color: globals.$veryLightGray;
        border-radius: 5px;
        img {
          cursor: pointer;
        }
      }

      .commentContainer__comment__modify__reply {
        width: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: globals.$moderateBlue;
        font-weight: 700;
        font-size: 0.6rem;
        cursor: pointer;
        img {
          height: 16px;
          width: 16px;
        }
      }
    }
  }
}

// Styles for the reply component
.commentReplyContainer {
  padding: 12px;
  // height: 280px;
  height: auto;
  border-radius: 5px;
  background-color: globals.$white;
  margin-bottom: 20px;
  width: 80%;
  align-self: flex-end;
  .commentReplyContainer__info {
    .commentReplyContainer__info__name {
      display: flex;
      justify-content: left;
      align-items: center;

      figure {
        width: 50px;
        height: 50px;
        background-image: url("https://res.cloudinary.com/dwdz4mn27/image/upload/v1677521532/interactive-comments-section-main/images/avatars/image-amyrobson_busbm4.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0;
      }
      h2 {
        font-size: 1rem;
        font-weight: 500;
      }

      p {
        color: globals.$grayishBlue;
        font-weight: 500;
        font-size: 0.8rem;
      }

      h2,
      p {
        margin-left: 12px;
      }
    }
  }

  .commentReplyContainer__comment {
    p {
      font-size: 1rem;
      color: globals.$grayishBlue;
      font-weight: 400;
      line-height: 25px;

      span {
        color: globals.$moderateBlue;
        font-weight: 700;
      }
    }

    .commentReplyContainer__comment__modify {
      display: flex;
      justify-content: space-between;
      .commentReplyContainer__comment__modify__votes {
        h1 {
          color: globals.$moderateBlue;
          font-size: 1rem;
        }
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100px;
        height: 40px;
        background-color: globals.$veryLightGray;
        border-radius: 5px;
        img {
          cursor: pointer;
        }
      }

      .commentReplyContainer__comment__modify__reply {
        width: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: globals.$moderateBlue;
        font-weight: 700;
        font-size: 0.6rem;
        cursor: pointer;
        img {
          height: 16px;
          width: 16px;
        }
      }
    }
  }
}

.yourCommentContainer {
  padding: 12px;
  height: auto;
  border-radius: 5px;
  background-color: globals.$white;
  margin-bottom: 20px;
  .yourCommentContainer__info {
    .yourCommentContainer__info__name {
      display: flex;
      justify-content: left;
      align-items: center;
      span {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: globals.$moderateBlue;
        color: white;
        font-weight: 500;
        width: 40px;
        height: 20px;
        font-size: 0.8rem;
        border-radius: 3px;
      }
      figure {
        width: 50px;
        height: 50px;
        background-image: url("https://res.cloudinary.com/dwdz4mn27/image/upload/v1677521532/interactive-comments-section-main/images/avatars/image-amyrobson_busbm4.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0;
      }
      h2 {
        font-size: 1rem;
        font-weight: 500;
        margin-right: 5px;
      }

      p {
        color: globals.$grayishBlue;
        font-weight: 500;
        font-size: 0.8rem;
      }

      h2,
      p {
        margin-left: 12px;
      }
    }
  }

  .commentContainer__comment {
    p {
      font-size: 1rem;
      color: globals.$grayishBlue;
      font-weight: 400;
      line-height: 25px;
    }

    .commentContainer__comment__modify {
      display: flex;
      justify-content: space-between;
      .commentContainer__comment__modify__votes {
        h1 {
          color: globals.$moderateBlue;
          font-size: 1rem;
        }
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100px;
        height: 40px;
        background-color: globals.$veryLightGray;
        border-radius: 5px;
        img {
          cursor: pointer;
        }
      }

      .commentContainer__comment__modify__container {
        display: flex;
        width: 200px;
        .modifier_container {
          display: flex;
          width: 50%;
          justify-content: center;
          align-items: center;
          height: 40px;
          cursor: pointer;
          figure {
            height: 30px;
            width: 25px;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              object-fit: contain;
            }
          }
          .edit {
            color: globals.$moderateBlue;
          }
          .delete {
            color: globals.$softRed;
          }

          p {
            font-size: 1rem;
            font-weight: 500;
          }
        }
      }
    }
  }
}
